.text-block {
    position: relative;
    overflow: hidden;
    transition: all 5s ease;
    border-radius: 8px;
}

.text-content {
    padding: 15px 5px;
}

.overlay > div {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 0 0 8px 8px;
    background: linear-gradient(to top, rgba(0, 0, 0) 25%, rgba(0, 0, 0, 0) 100%);
    padding-top: 85px;
}

.text_overflow {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.spoiler_button {
    width: fit-content;
    background: #3c2239;
    border-radius: 8px;
    color: #b3b3b3;
    transition: color 0.2s ease-in-out;
    position: relative;
    padding: 1px 5px;
    cursor: pointer;
}

.spoiler_button:hover {
    color: #e1e1e1;
}

.b_spoiler_textoverflow {
    margin-top: 10px;
}

.b_spoiler_textoverflow .hidden {
    opacity: unset;
    visibility: unset;
}

.b_spoiler_textoverflow .spoiler_content {
    background: #3c2239;
    border-radius: 0 8px 8px 8px;
    padding: 0 5px;
    color: #c1c0c1;
}

.spoiler_button:after {
    content: '▸';
    margin-left: 5px;
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}

.spoiler_button.opened:after {
    transform: rotate(90deg);
}

.overlay > div > div {
    width: 100%;
    display: flex;
    cursor: pointer;
    align-items: center;
}

.overlay > div > div:after,
.overlay > div > div:before {
    content: '';
    border-bottom: 1px #D6D6D6FF solid;
    display: flex;
    margin: 0 10px;
    width: 100%;
}

.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 160px;
    background: linear-gradient(to bottom, transparent, rgb(0 0 0 / 80%));
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 0 0 8px 8px;
}

.overlay button {
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color: #d6d6d6;
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100px;
    min-width: 100px;
}

.text-content img, .text-content video {
    max-width: 500px;
    width: 100%;
}