.profile_main {
    padding: 30px;
    margin: 0 auto 5px;
    border-radius: 8px;
    background: var(--background-trans-color);
    position: relative;
    max-width: 1400px;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
}

.profile_info {
    display: flex;
}

.user_avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
}

.user_avatar > img {
    height: 200px;
    width: 200px;
    border: var(--border-wheat);
    border-radius: 20px;
    object-fit: cover;
}

.user_nickname {
    font-size: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.profile_user_online {
    margin-left: 5px;
    font-size: 16px;
    color: var(--text-gray);
}

.user_about > div {
    display: flex;
    align-items: center;
    padding: 5px;
    width: fit-content;
}

.user_about_empty {
    filter: brightness(0.5);
    transition: all 0.3s ease;
    cursor: pointer;
}

.profile_about_input > form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.user_about_empty:hover{
    filter: brightness(1);
}

.user_about > div > span > img {
    height: 18px;
    width: 18px;
    vertical-align: sub;
    margin-left: 5px;
    position: relative;
    bottom: 1px;
}

.user_about_filled > span > img {
    filter: brightness(0.5);
    transition: all 0.3s ease;
    cursor: pointer;
}

.user_about_filled > span > img:hover {
    filter: brightness(1);
}

.profile_about_input > form > textarea {
    max-height: 100px;
    max-width: 1000px;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    border-radius: 8px;
    padding: 15px;
    font-size: 16px;
    font-family: sans-serif;
}

.profile_audio_root {
    position: absolute;
    right: 20px;
    top: 0;
}

.profile_settings_optional > form > .filter_buttons {
    position: relative;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    max-width: 300px;
}


