.main_menu_root {
    margin-bottom: 5px;
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.main_menu_root > div {
    background: var(--background-trans-color);
    width: 100%;
    max-width: 1000px;
    height: auto;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
}

.main_utabs {
    border-radius: 8px 8px 0 0;
}

.user_profiles {
    display: flex;
    overflow: hidden auto;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
}

.user_profiles > a {
    padding: 10px;
    margin: 2px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    max-height: 150px;
    width: 100%;
    max-width: 49%;
    border-radius: 8px;
    border: var(--border-wheat);
    background: var(--background-trans-color);
}

.user_profile_block_middle_top {
    display: flex;
    align-items: baseline;
}

.dead_tape {
    position: absolute;
    z-index: 3;
    left: 0;
}

.user_profile_block_middle_down {
    color: gray;
    font-size: 12px;
}

@media screen and (max-width: 768px){
    .user_profile_block_middle_down > span {
        font-size: 12px;
    }
}

.profile_avatar.online {
    outline: 2px solid #24c924;
    filter: none;
}
.profile_avatar {
    filter: grayscale(100%);
    display: block;
    object-fit: cover;
}

.profile_user_online_mainmenu {
    margin-left: 5px;
    font-size: 12px;
    color: var(--text-gray);
    text-align: left;
}

.user_profile_block_middle_down > span {
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 3;
    max-width: 400px;
    max-height: 150px;
    display: -webkit-box;
    text-align: start;
}

.user_profile_block_middle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.user_profile_block {
    display: flex;
}

.user_profiles > a > div {
    position: relative;
}

.user_profile_block_left img {
    height: 78px;
    width: 78px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 8px;
}

.no_relationships {
    padding: 20px;
    background: var(--background-dark-brown);
    border-radius: 8px;
    margin: 10px;
}

.main_window {
    min-height: 456px;
    border-radius: 0 0 8px 8px;
}

.archive_main > div:not(:last-child), .archive_informant > p:first-child, .archive_checked > p:first-child{
    margin-bottom: 15px;
}

.archive_main {
    flex: 1;
    text-align: center;
    padding: 20px;
}

.main_window_current > div > div > div > img {
    height: 50px;
    width: 50px;
    border-radius: 8px;
    outline: var(--border-wheat);
    object-fit: cover;
}

.main_window_current {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_window_current > div > div > div {
    padding: 10px;
    margin: 10px;
    background: var(--background-dark-brown);
    border-radius: 8px;
    display: flex;
    gap: 15px;
    align-items: center;
    outline: var(--border-wheat);
    width: 100%;
    max-width: 250px;
    text-align: left;
}

.main_window_current > div > div > div > span {
    font-weight: bold;
}

.main_window_current > div > div > span {
    font-weight: bold;
    font-size: 31px;
    display: flex;
    position: relative;
    bottom: 2px;
}

.main_window_current > div > div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.main_window_current > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.report_news {
    padding: 20px 10px;
    margin: 10px;
    background: var(--background-dark-brown);
    border-radius: 8px;
}

.report_news > span {
    white-space: break-spaces;
    width: 100%;
    text-align: start;
    display: block;
}

.report_news img, .report_news video {
    max-width: 500px;
    max-height: 500px;
    width: fit-content;
}

.report_news_header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}

.report_news_header > img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    outline: var(--border-wheat);
}

.report_news_header > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main_utabs > div {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex: 1;
}

.main_utabs > div > .utabs {
    width: 100%;
}

.main_menu_root > .main_utabs {
    background: var(--background-trans-color);
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid #363636;
    max-height: unset;
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 70px;
    z-index: 5;
    margin-top: 5px;
}

.new_reports_notif {
    color: #E13F3FFF;
}

.report_news > a {
    padding: 3px 10px 3px 3px;
    width: fit-content;
    display: flex;
}

.reports_news_root .filter_buttons {
    margin: 15px;
    max-width: 370px;
    width: 100%;
}

.reports_news_root .filter_buttons:after {
    right: 10px;
}

.report_news_header span {
    text-align: start;
}

@media screen and (max-width: 650px) {
    .user_profiles {
        flex-direction: column;
    }
    .user_profiles > a {
        max-width: 100%;
    }
}