.profile_modal_general {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
}

.profile_modal_general > div {
    padding: 10px;
    margin: 5px;
    text-align: center;
    background: var(--background-dark-brown);
    border-radius: 8px;
}

.profile_modal_root button {
    background-color: var(--background-trans-color);
    text-transform: unset;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: 0.2s border ease-in-out;
    font-weight: bold;
}

.profile_modal_root button:hover {
    border: 1px rgba(191, 168, 129, 0.6) solid;
}

.profile_modal_function > a {
    padding: 20px 10px;
    display: block;
    border-radius: 8px;
    margin: 5px 0;
    background: var(--background-color);
}

.profile_modal_function > a:hover {
    outline: var(--border-wheat);
}

.profile_modal_title_button {
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px;
    width: 100%;
    justify-content: center;
}

.profile_modal_title_button > div:nth-child(2) {
    position: absolute;
    right: 0;
    top: 0;
}