.lablib_main_image > img {
    max-width: 100vw;
}

.lablib_root {
    position: relative;
    flex: 1;
}

.lablib_main_image {
    display: flex;
}

.lablib_selector_image > img {
    height: 120px;
    object-fit: cover;
    border: var(--border-wheat);
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
}

.lablib_menu_selector {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 10px 0;
    flex-direction: column;
    overflow: hidden auto;
}

.lablib_menu_right {
    display: flex;
    flex-direction: column;
    margin: 0 50px;
    height: 100%;
    align-items: flex-start;
    width: fit-content;
    position: absolute;
    right: 0;
    top: 0;
    padding: 30px 10px;
}

.lablib_menu_right::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.1) 100%);
    pointer-events: none;
    z-index: -1;
}

.lablib_selector_image {
    position: relative;
    width: 100%;
    display: flex;
}

.lablib_selector_image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 40%);
    border-radius: 8px;
    z-index: 1;
    transition: background 0.3s ease;
}

.lablib_selector_image img {
    max-width: 350px;
    width: 100%;
    height: 170px;
    display: block;
    position: relative;
    z-index: 0;
}

.lablib_selector_image:hover::before {
    background: rgba(0, 0, 0, 0);
}

.lablib_selector_image.active::before {
    background: rgba(0, 0, 0, 0);
}

.lablib_selector_preview {
    position: relative;
    min-width: 350px;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;
    margin: 5px 10px;
}

.lablib_selector_titles {
    z-index: 2;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 100%);
    width: 100%;
    border-radius: 0 0 8px 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 5px 10px 5px 10px;
    overflow: hidden;
    pointer-events: none;
}

.lablib_selector_titles > span {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 80px;
}

.lablib_selector_preview {
    display: flex;
    align-items: center;
    height: 100%;
}

.lablib_selector_preview span, .lablib_selector_preview h4 {
    max-width: 300px;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    max-height: 150px;
    display: -webkit-box;
    display: flex;
    gap: 2px;
}

.lablib_menu_description {
    display: flex;
    bottom: 15px;
    position: absolute;
    padding: 20px;
    margin: 50px;
    font-size: 17px;
    max-width: calc(100% - 540px);
    background: var(--background-trans-color);
    border-radius: 8px;
    flex-direction: column;
}

.lablib_menu_description .text_overflow {
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 10;
    max-height: 300px;
    display: -webkit-box;
    white-space: pre-wrap;
    text-indent: 0.875em;
    padding: 5px 0;
}

.lablib_menu_description a {
    width: fit-content;
}

.lablib_menu_description > a > div {
    padding: 10px 15px;
    background: var(--background-dark-brown);
    border-radius: 8px;
    margin: 5px 0;
    border: transparent 1px solid;
    transition: all 1.5s ease;
}

.lablib_menu_description > a > div:hover {
    padding: 10px 15px;
    background: var(--background-dark-brown);
    border-radius: 8px;
    margin: 5px 0;
    border: var(--border-wheat);
}

.library_page_no_story {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    font-size: 25px;
    width: 100%;
    text-align: center;
}

.no_library_create_first a {
    white-space: nowrap;
    padding: 10px;
    background: #3e3152c2;
    border-radius: 8px;
    outline: transparent 1px solid;
    transition: outline-color 0.3s ease-in-out;
    font-size: 20px;
}

.no_library_create_first a:hover {
    outline: var(--border-wheat);
}

@media screen and (max-width: 900px){
    .lablib_menu_selector {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        overflow: auto hidden;
        max-width: 100%;
        padding-bottom: 5px;
    }
    .lablib_menu_right {
        height: unset;
        margin: 15px;
        position: unset;
        background: var(--background-dark-brown);
        border-radius: 8px;
        padding: 10px;
        width: unset;
    }
    .lablib_menu_right::before {
        content: unset;
    }
    .lablib_menu_description {
        max-width: 100%;
        bottom: unset;
        position: unset;
        margin: 15px;
    }
    .lablib_menu_selector::-webkit-scrollbar {
        height: 5px;
    }
}

@media screen and (max-width: 789px){
    .lablib_selector_image img {

    }
    .lablib_selector_preview {
        min-width: 175px;
    }
    .lablib_selector_image > img {
        mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
    }
}