.utabs {
    padding: 10px;
    margin: 0 10px;
    position: relative;
    cursor: pointer;
    width: 150px;
    min-height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-weight: bold;
}

.utabs.active:after {
    opacity: 1;
}

.utabs {
    position: relative;
    padding: 20px 13px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    display: flex;
    gap: 5px;
    color: var(--text-not-active);
    overflow: hidden;
    justify-content: center;
}

.utabs > div {
    position: relative;
    white-space: nowrap;
}

.utabs > div::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    transition: width 0.4s ease-in-out;
}

.utabs:hover > div::after {
    width: 100%;
}

.utabs.active > div::after {
    width: 100%;
}

.utabs::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ffa827;
    transition: width 0.3s ease-in-out;
}

.utabs.active::before {
    width: 100%;
}